/* landing page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family:Helvetica;
    background-color: rgb(28, 28, 28);  
    }
.Hero{
    min-height: 100vh;
    font-size: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative ;
    overflow: hidden;
    background:
        linear-gradient(rgba(28,28,28,0.100), rgba(28,28,28,0.95)),
        url("Pic/icon1.png");
    background-size: cover, 100px;
    background-repeat: no-repeat, repeat;
}
.Hero h1{
    color: rgb(255, 255, 255);
    text-shadow: 4px 8px 10px rgba(255, 244, 79, 0.15);
    position: relative ;
}
.Hero h1 span{
    color: #fff44f;
    text-shadow: 4px 8px 10px rgba(255, 255, 255, 0.15);
    position: relative;
    }
.bar{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 20px;
}
.menubar a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}
.Card{
    min-height: 75vh;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 50px;
    background-color:white;
    }
.S1{
    margin-top:80px;
    margin-bottom: 80px;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 18px;
    background-color: white;
    width: 280px;
    min-height: 280px;
    border-radius: 20px;
    box-shadow:0 10px 40px rgb(0, 0, 0,0.15);
    padding: 20px;
    }
.S1 h3{
    min-height: 60px;
    background-color: white;
    color: #000000;
}
.S1 img{
    width: 190px;
    object-fit: contain;
}
.S1 P{
    font-size: 20px;
    font: bold;
    text-align: center;
}
.Lpcp{
    min-height: 100px;
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-wrap: wrap;
}
.Lpcp p{
    padding-top: 10px;
    padding-left: 10px;
    color: #fff44f;
    text-align: center;
}
.Lpcpcont{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Lpcpcont p{
    padding-top: 20px;
    color: #ffffff;
    justify-content: center;
}

